<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="myClose()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Anna's Garden</h4>
      </div>
      <div class="modal-body">
          <div class="modal-split">
            <img src="../../assets/images/single_plot.svg" alt="single-plot">
          </div>
          <div class="modal-split">
            <div class="row">
              <ul class="chip-container">
                <!-- TODO use this for chips https://github.com/B1naryStudio/md-chips-->
                <li class="chip"><img class="produce-icons" src="../../assets/icons/carrot_icon.svg" alt="carrots">Carrots</li>
                <li class="chip"><img class="produce-icons" src="../../assets/icons/peas_icon.svg" alt="">Peas</li>
                <li class="chip"><img class="produce-icons" src="../../assets/icons/red_apple_icon.svg" alt="">Apple</li>
              </ul>
            </div>
            <div class="row text-right">
              <img class="profile-image" src="../../assets/images/anna_profile.png" alt="">
              <h5>Anna Lotko</h5>
              <p>I love gardening accessories and potatoes. Come check-out my heirloom tomatoes!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" ng-click="myClose()" class="btn btn-primary">Submit</button>
      </div> -->
    </div>
  </div>
</div>
