<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="myClose()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{singlePlot.plot_name}}</h4>
      </div>
      <div class="modal-body">
        <div class="modal-split">
          <h6 class="text-left">Produce Planted in this Plot</h6>
          <ul ng-repeat="produce in singlePlot.produce" class="chip-container">
            <li class="chip">
              <img class="chip-icon" ng-click="removeProduce(produce.produce_id)" ng-show="getUID()" ng-src="../../assets/icons/remove_icon.svg" alt="remove-icon">
              <img class="chip-icon" ng-src="{{produce.image_url}}" alt="produce-icon">{{produce.name}}
              <!-- Only Display if UID is valid -->

            </li>
          </ul>
        </div>
        <div class="modal-split">
          <h6 class="text-left">About this Plot</h6>
          <div class="row text-left">
            <img class="profile-image" ng-src="{{singlePlot.plots_image_url}}" alt="">
            <p>{{singlePlot.about}}</p>
          </div>
        </div>
      </div>
      <!-- TODO NG-Show if in edit mode -->
      <div class="modal-footer text-center" ng-show="getUID()">
        <button type="button" ng-click="addProduce()" class="btn btn-primary text-right">Add Produce</button>
      </div>
    </div>
  </div>
</div>
