.button-header {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.filter-button {
  background-color: rgb(55, 55, 55);
  color: rgb(213, 213, 213);
  margin: 10px;
}

/*Image Types*/
.hero-image {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

/*TODO: Add hover state for hero image*/

/*For Image Swapping on Home Page*/
.image2{
   display: none;
}

/*only screen and */
@media (max-width: 768px){
   .image1{
     display: none;
   }
   .image2{
     display: block;
   }
}

/*Modal Styling*/
.modal-body {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.modal-footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.modal-split {
  margin: 5px;
  width: 50%;
}

.modal-content {
  border-radius: 3px;
}

.chip-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.chip {
    display: inline-block;
    /*padding: 0 25px;*/
    padding-right: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip-icon {
  border-radius: 50%;
  width: 40px;
  height: auto;
}

.profile-image {
  /*border-radius: 50%;*/
  width: 100px;
  height: auto;
}

.img-small {
  width: 50px;
  height: 50px;
  /*display: flex;*/
}

/*Cards*/
.card-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  max-width: 500px;
  /*background-color: rgb(178, 201, 218);*/
  border-radius: 0;
  margin: 20px;
  border-width: 0;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}


/************Form validation***********/
/* Color of invalid field */
.has-error {
  color: #a94442;
}
