/*
Table of Contents
1. Body
2. Text
3. Page Spacing
4. Buttons
5. Image Formatting
6. Modals
7. Tags and Labels
8. Cards
9. Forms
10. Data Viz
11. Miscellaneous SVG
12. Colors
13. Nav and Footer
14. Widgets
*/

/*Body*/
html, body {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

#main-container {
  margin-bottom: 100px;
}

/*Text*/
h1,
h2,
h3,
h4 {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-weight: bold;
}

h5,
h6,
p {
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
}

a:hover{
  text-decoration: none;
}

b {
  font-weight: bold;
}


/*Page Spacing*/
.content-buffer {
  padding-bottom: 30px;
}

.top-margin {
  margin-top: 50px;
  margin-bottom: 10px;
}

.row-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.center-flex {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

/*Buttons*/
.button-header {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

/*All buttons across site should have this class*/
.button-primary {
  background-color: #6CAD73;
  color: #D9EDC0 !important;
  margin-right: 10px;
  margin-left: 10px;
  outline: none;
}

/*All buttons across site should have this class*/
.button-primary:hover {
  opacity: .8;
  color: #ACCE89;
  background-color: #6CAD73;
  outline: none;
}

.button-primary:focus {
  background-color: #D9EDC0;
  color: #6CAD73;
  outline: none;
}

.button-primary:active {
  background-color: #D9EDC0 !important;
  color: #6CAD73 !important;
  outline: none;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
  margin: 5px;
}

.home-button {
  text-decoration: none;
}

/*Image Formatting*/
.hero-image img:last-child {
  display: none;
}

.hero-image:hover img:first-child {
  display: none;
}
.hero-image:hover img:last-child{
  display: flex;
}

.image1,
.image2 {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.image2 {
  display: none;
}

/*only screen and */
@media (max-width: 768px) {
  .image1 {
    display: none;
  }
  .image2 {
    display: block;
  }
}

.modal-image {
  width: 65%;
  border-radius: 50%;
}

.ugc-image {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.img-small {
  width: 50px;
  height: 50px;
  /*display: flex;*/
}

.div-image {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 400px;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
}
.carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  background-image: none;
}
.carousel-inner {
  width: 100%;
  height: auto;
  overflow-y: hidden;
}

.developers-photos {
  align-items: flex-end;
  max-height: 100px;
}

/*Modal*/
.modal-body {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.modal-footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.modal-split {
  margin: 5px;
  /*padding: 20px;*/
  width: 50%;
}

.modal-text {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.modal-subject {
  padding-bottom: 20px;
}

.modal-content {
  border-radius: 3px;
}

.plot-modal {
  padding: 20px;
}

.modal-dialog {
  width: 50%;
}

/*Tags and Labels*/
.chip-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.chip {
  display: inline-block;
  /*padding: 0 25px;*/
  padding-right: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip-icon {
  border-radius: 50%;
  width: 40px;
  height: auto;
}

.chip-text {
  padding-left: 10px;
}

/*Cards*/
.card-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 500px;
  border-radius: 0;
  margin: 10px;
  border-width: 0;
  background-color: #ECDDAA;
  box-shadow: 3px 7px 12px -4px rgba(0,0,0,0.44);
}

.scroll-box {
  overflow-y: scroll;
  height: 400px;
  /*padding: 1rem*/
}

.forum-text-padding {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Forms*/
.has-error {
  color: #a94442;
}

/*Data Viz*/
.bc-container {
  width: 100%;
  /*max-width: 900px;*/
  /*padding: 100px;
  padding-top: 0;*/
}

#vis {
  /*margin-left: -12vw;
  margin-bottom: 10px;*/
}

.year {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.tooltip {
  position: absolute;
  top: 50px;
  left: 50px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: .5px solid grey;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: .9;
  color: black;
  padding: 10px;
  width: 230px;
  font-size: 12px;
  z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip .name {
  font-weight: bold;
}

/*Miscellaneous SVG*/
/*Land Nav*/
.cls-1 {
  fill: #c0dcb0;
}

.cls-2 {
  fill: #a5cd8d;
}

.cls-3 {
  fill: #acce89;
}

.cls-4 {
  fill: #b8d7a5;
}

.map-fade, .plot {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.map-fade:hover, .plot:hover {
  opacity: 0.5;
}

/*Colors*/
.color-green-light {
  color: #ACCE89;
}

.background-color-green-dark {
  background-color: #6CAD73;
}

.color-green-dark {
  color: #6CAD73;
}

/*Nav & Footer*/
.footer {
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  right: 0
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-spacing {
  height: 100%;
  margin-top: 125px;
}

/*color: #ACCE89;
}*/

.navbar-default .navbar-nav>li>a:active {
opacity: .8;
color: #6CAD73;
background-color: #ACCE89;
}

.navbar-default .navbar-nav>li>a:focus {
color: #ACCE89;
background-color: #6CAD73;
}

.navbar-default .navbar-nav>li>a:hover {
opacity: .8;
color: #67AD73;
background-color: #ACCE89;
outline: none;
}

.navbar-active:focus {
opacity: .8;
color: #6CAD73;
background-color: #ACCE89;
}

#navbar-center {
display: flex;
align-items: center;
}

.background-color-green-dark {
background-color: #6CAD73;
}

.navbar {
background-color: #6CAD73;
}

/*Widgets*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #ACCE89; /* Light Green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*News - TODO Refactor*/
#news-row{
  display: flex;
  margin: 30px;
}

#news-button {
  align-items: flex-end;
  margin-left: 25px;
}
.digest-name{
  font-weight: bold;
}
#digest-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #ACCE89;
}

td, th {
  padding: 5px;
}

#digest {
  margin-top: 10px;
  padding: 25px;
  display: block;
  margin: auto;
  width: 60%;
}

.scroll {
  overflow-y: scroll;
  height: 300px;
}

#green-onion-spacer {
  margin-top: 50px;
}

#digest-header{
  margin-bottom: 30px;
  margin-top: 25px;
}
