.button-header {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.filter-button {
  background-color: rgb(55, 55, 55);
  color: rgb(213, 213, 213);
  margin: 10px;
}

/*Image Types*/

.hero-image {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
