<div class="content-buffer">
  <h2 class="color-green-dark">Hope Garden in Boulder</h2>
  <h4 class="color-green-light">select a plot to view produce in the plot</h4>
</div>
<div class="col-md-2"></div>
<div class="col-md-8">
  <div ng-if="!$ctrl.dataLoaded" class="loader-parent">
    <div class="loader"></div>
  </div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 702.69 1064.67" ng-show="$ctrl.dataLoaded">
  <title>hope_map</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="hope">
      <g id="Layer_17" data-name="Layer 17">
        <g id="p319" class="plot" ng-click="$ctrl.selectPlot('319')">
          <circle cx="564.92" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p320" class="plot" ng-click="$ctrl.selectPlot('320')">
          <circle cx="564.92" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p321" class="plot" ng-click="$ctrl.selectPlot('321')">
          <circle cx="564.92" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p322" class="plot" ng-click="$ctrl.selectPlot('322')">
          <circle cx="564.92" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p323" class="plot" ng-click="$ctrl.selectPlot('323')">
          <circle cx="564.92" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="564.92" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="604.28" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="643.64" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="683.01" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p324" class="plot" ng-click="$ctrl.selectPlot('324')">
          <circle cx="382.57" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p325" class="plot" ng-click="$ctrl.selectPlot('325')">
          <circle cx="382.57" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p326" class="plot" ng-click="$ctrl.selectPlot('326')">
          <circle cx="382.57" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p327" class="plot" ng-click="$ctrl.selectPlot('327')">
          <circle cx="382.57" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p328" class="plot" ng-click="$ctrl.selectPlot('328')">
          <circle cx="382.57" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p329" class="plot" ng-click="$ctrl.selectPlot('329')">
          <circle cx="382.57" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="382.57" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="421.93" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="461.3" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="500.66" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p330" class="plot" ng-click="$ctrl.selectPlot('330')">
          <circle cx="203.11" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p331" class="plot" ng-click="$ctrl.selectPlot('331')">
          <circle cx="203.11" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p332" class="plot" ng-click="$ctrl.selectPlot('332')">
          <circle cx="203.11" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p333" class="plot" ng-click="$ctrl.selectPlot('333')">
          <circle cx="203.11" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p334" class="plot" ng-click="$ctrl.selectPlot('334')">
          <circle cx="203.11" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p335" class="plot" ng-click="$ctrl.selectPlot('335')">
          <circle cx="203.11" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="203.11" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="242.47" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="281.83" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="321.2" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p336" class="plot" ng-click="$ctrl.selectPlot('336')">
          <circle cx="19.68" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="137.78" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="98.41" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="59.05" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="19.68" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p337" class="plot" ng-click="$ctrl.selectPlot('337')">
          <circle cx="19.68" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="318.31" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="278.95" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="239.58" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="200.22" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p338" class="plot" ng-click="$ctrl.selectPlot('338')">
          <circle cx="19.68" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="500.21" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="460.84" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="421.48" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="382.11" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p339" class="plot" ng-click="$ctrl.selectPlot('339')">
          <circle cx="19.68" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="683.01" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="643.64" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="604.28" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="564.92" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p340" class="plot" ng-click="$ctrl.selectPlot('340')">
          <circle cx="19.68" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="864" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="824.63" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="785.27" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="745.9" r="19.68" style="fill: #e6e6e6"/>
        </g>
        <g id="p341" class="plot" ng-click="$ctrl.selectPlot('341')">
          <circle cx="19.68" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="1044.99" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="1005.62" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="966.26" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="19.68" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="59.05" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="98.41" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
          <circle cx="137.78" cy="926.89" r="19.68" style="fill: #e6e6e6"/>
        </g>
      </g>
    </g>
  </g>
</svg>
</div>
<div class="col-md-2"></div>
