<div class="row">
  <div>
    <h1>News From the Field...</h1>
    <div ng-repeat="digest in $ctrl.displayedDigests | orderBy:created_at:true">
      <p>{{digest.message}}</p>
      <p>{{digest.first_name}}</p>
    </div>
    <form action="" name="$ctrl.digestForm" ng-submit="$ctrl.submitDigest($event)">
      <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="8" cols="80" ng-model="$ctrl.newDigest.message" ng-maxlength="100"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Post your message.</button>
      </div>
    </form>
  </div>
</div>
