<div class="content-buffer">
  <h2 class="color-green-dark">Centennial Garden in Boulder</h2>
  <h4 class="color-green-light">select a plot to view produce in the plot</h4>
</div>
<div ng-if="!$ctrl.dataLoaded" class="loader-parent">
  <div class="loader"></div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1219.67 800">
  <title>centennial_map</title>
  <g id="Layer_2" data-name="Layer 2" ng-show="$ctrl.dataLoaded">
    <g id="centennail">
      <g id="p1" class="plot" ng-click="$ctrl.selectPlot('1')">
        <circle cx="21.38" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="21.38" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="21.38" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="21.38" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p2" class="plot" ng-click="$ctrl.selectPlot('2')">
        <circle cx="230.96" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p3" class="plot" ng-click="$ctrl.selectPlot('3')">
        <circle cx="440.54" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="440.54" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="440.54" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="440.54" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p4" class="plot" ng-click="$ctrl.selectPlot('4')">
        <circle cx="650.88" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p5" class="plot" ng-click="$ctrl.selectPlot('5')">
        <circle cx="861.23" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p6" class="plot" ng-click="$ctrl.selectPlot('6')">
        <circle cx="1070.05" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="149.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="106.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="64.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="21.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p7" class="plot" ng-click="$ctrl.selectPlot('7')">
        <circle cx="21.38" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="21.38" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="21.38" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="21.38" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p8" class="plot" ng-click="$ctrl.selectPlot('8')">
        <circle cx="230.96" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p9" class="plot" ng-click="$ctrl.selectPlot('9')">
        <circle cx="440.54" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="440.54" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="440.54" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="440.54" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p10" class="plot" ng-click="$ctrl.selectPlot('10')">
        <circle cx="650.88" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p11" class="plot" ng-click="$ctrl.selectPlot('11')">
        <circle cx="861.23" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p12" class="plot" ng-click="$ctrl.selectPlot('12')">
        <circle cx="1070.05" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="359.46" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="316.71" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="273.96" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="231.21" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p13" class="plot" ng-click="$ctrl.selectPlot('13')">
        <circle cx="230.96" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p14" class="plot" ng-click="$ctrl.selectPlot('14')">
        <circle cx="650.88" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p15" class="plot" ng-click="$ctrl.selectPlot('15')">
        <circle cx="861.23" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p16" class="plot" ng-click="$ctrl.selectPlot('16')">
        <circle cx="1070.05" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="569.81" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="527.06" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="484.31" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="441.56" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p17" class="plot" ng-click="$ctrl.selectPlot('17')">
        <circle cx="21.38" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="21.38" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="21.38" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="21.38" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="64.13" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="106.88" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="149.63" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p18" class="plot" ng-click="$ctrl.selectPlot('18')">
        <circle cx="230.96" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="230.96" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="273.71" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="316.46" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="359.21" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p19" class="plot" ng-click="$ctrl.selectPlot('19')">
        <circle cx="440.54" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="440.54" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="440.54" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="440.54" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="483.29" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="526.04" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="568.79" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p20" class="plot" ng-click="$ctrl.selectPlot('20')">
        <circle cx="650.88" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="650.88" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="693.63" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="736.38" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="779.13" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p21" class="plot" ng-click="$ctrl.selectPlot('21')">
        <circle cx="861.23" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="861.23" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="903.98" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="946.73" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="989.48" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
      <g id="p22" class="plot" ng-click="$ctrl.selectPlot('22')">
        <circle cx="1070.05" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="778.63" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="735.88" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="693.13" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1070.05" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1112.8" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1155.55" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
        <circle cx="1198.3" cy="650.38" r="21.38" style="fill: #e6e6e6"/>
      </g>
    </g>
  </g>
</svg>
