
<div class="footer-spacing">
  <div class="row scallion-spacing">
<div class="col-md-2"></div>
  <div class="col-md-8">
  <img src="/assets/produce/green_onion_produce.svg" alt="">
  </div>
<div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
<div class="col-md-6">
  <h1 class="button-header">LOGIN</h1>
  <h5 class="text-center">
    This project is still in development. Use the following credentials to log in:
    <br>
    User Name: farmer.joe@gmail.com
    Password: [TODO get pw]
  </h5>
  <form ng-submit="$ctrl.submitLogin()" name="loginInfo" novalidate>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" ng-model="$ctrl.user.email" id="email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password" class="form-control" ng-model="$ctrl.user.password" id="pwd">
    </div>
    <div class="checkbox button-header">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <div class="button-header">
    <button type="submit" class="btn btn-default button">Submit</button>
  </div>
  </form>
</div>
<div class="col-md-3"></div>
</div>
</div>
