<div class="content-buffer">
  <h2 class="color-green-dark">Kerr Garden in Louisville</h2>
  <h4 class="color-green-light">select a plot to view produce in the plot</h4>
</div>
<div class="col-md-1"></div>
<div class="col-md-10">
  <div ng-if="!$ctrl.dataLoaded" class="loader-parent">
    <div class="loader"></div>
  </div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 934.14 1661.66" ng-show="$ctrl.dataLoaded">
  <title>kerr_map</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="kerr">
      <g id="Layer_20" data-name="Layer 20">
        <g id="p342" class="plot" ng-click="$ctrl.selectPlot('342')">
          <circle cx="139.31" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p343" class="plot" ng-click="$ctrl.selectPlot('343')">
          <circle cx="139.31" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p344" class="plot" ng-click="$ctrl.selectPlot('344')">
          <circle cx="139.31" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p345" class="plot" ng-click="$ctrl.selectPlot('345')">
          <circle cx="139.31" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p346" class="plot" ng-click="$ctrl.selectPlot('346')">
          <circle cx="139.31" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p347" class="plot" ng-click="$ctrl.selectPlot('347')">
          <circle cx="139.31" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p348" class="plot" ng-click="$ctrl.selectPlot('348')">
          <circle cx="139.31" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p349" class="plot" ng-click="$ctrl.selectPlot('349')">
          <circle cx="139.31" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p350" class="plot" ng-click="$ctrl.selectPlot('350')">
          <circle cx="139.31" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="139.31" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="99.51" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="59.7" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="19.9" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p351" class="plot" ng-click="$ctrl.selectPlot('351')">
          <circle cx="327.78" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p352" class="plot" ng-click="$ctrl.selectPlot('352')">
          <circle cx="327.78" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p353" class="plot" ng-click="$ctrl.selectPlot('353')">
          <circle cx="327.78" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p354" class="plot" ng-click="$ctrl.selectPlot('354')">
          <circle cx="327.78" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p355" class="plot" ng-click="$ctrl.selectPlot('355')">
          <circle cx="327.78" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p356" class="plot" ng-click="$ctrl.selectPlot('356')">
          <circle cx="327.78" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p357" class="plot" ng-click="$ctrl.selectPlot('357')">
          <circle cx="327.78" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p358" class="plot" ng-click="$ctrl.selectPlot('258')">
          <circle cx="327.78" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p359" class="plot" ng-click="$ctrl.selectPlot('259')">
          <circle cx="327.78" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="327.78" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="287.97" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="248.17" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="208.37" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p360" class="plot" ng-click="$ctrl.selectPlot('360')">
          <circle cx="515.11" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1522.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1562.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1601.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1641.75" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p361" class="plot" ng-click="$ctrl.selectPlot('361')">
          <circle cx="515.11" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1334.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1374.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1414.15" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1453.95" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p362" class="plot" ng-click="$ctrl.selectPlot('362')">
          <circle cx="515.11" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1146.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1186.54" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1226.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1266.14" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p363" class="plot" ng-click="$ctrl.selectPlot('363')">
          <circle cx="515.11" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="958.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="998.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1038.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="1078.34" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p364" class="plot" ng-click="$ctrl.selectPlot('364')">
          <circle cx="515.11" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="771.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="810.93" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="850.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="890.53" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p365" class="plot" ng-click="$ctrl.selectPlot('365')">
          <circle cx="515.11" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="583.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="623.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="662.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="702.73" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p366" class="plot" ng-click="$ctrl.selectPlot('366')">
          <circle cx="515.11" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="395.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="435.32" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="475.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="514.92" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p367" class="plot" ng-click="$ctrl.selectPlot('367')">
          <circle cx="515.11" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="207.71" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="247.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="287.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="327.12" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p368" class="plot" ng-click="$ctrl.selectPlot('368')">
          <circle cx="714.67" cy="224.47" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="674.87" cy="224.47" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="635.07" cy="224.47" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="595.27" cy="224.47" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="714.67" cy="264.27" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="674.87" cy="264.27" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="635.07" cy="264.27" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="595.27" cy="264.27" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p369" class="plot" ng-click="$ctrl.selectPlot('369')">
          <circle cx="714.67" cy="327.01" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="674.87" cy="327.01" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="635.07" cy="327.01" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="595.27" cy="327.01" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="714.67" cy="366.81" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="674.87" cy="366.81" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="635.07" cy="366.81" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="595.27" cy="366.81" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p370" class="plot" ng-click="$ctrl.selectPlot('370')">
          <circle cx="714.67" cy="429.55" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="674.87" cy="429.55" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="635.07" cy="429.55" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="595.27" cy="429.55" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="714.67" cy="469.36" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="674.87" cy="469.36" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="635.07" cy="469.36" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="595.27" cy="469.36" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p371" class="plot" ng-click="$ctrl.selectPlot('571')">
          <circle cx="714.67" cy="532.1" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="674.87" cy="532.1" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="635.07" cy="532.1" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="595.27" cy="532.1" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="714.67" cy="571.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="674.87" cy="571.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="635.07" cy="571.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="595.27" cy="571.9" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p372" class="plot" ng-click="$ctrl.selectPlot('372')">
          <circle cx="714.67" cy="634.64" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="674.87" cy="634.64" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="635.07" cy="634.64" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="595.27" cy="634.64" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="714.67" cy="674.45" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="674.87" cy="674.45" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="635.07" cy="674.45" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="595.27" cy="674.45" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p373" class="plot" ng-click="$ctrl.selectPlot('373')">
          <circle cx="620.14" cy="735.89" r="14.93" style="fill: #e6e6e6"/>
          <circle cx="590.29" cy="735.89" r="14.93" style="fill: #e6e6e6"/>
          <g>
            <circle cx="620.14" cy="765.74" r="14.93" style="fill: #e6e6e6"/>
            <circle cx="590.29" cy="765.74" r="14.93" style="fill: #e6e6e6"/>
          </g>
          <g>
            <circle cx="620.14" cy="795.59" r="14.93" style="fill: #e6e6e6"/>
            <circle cx="590.29" cy="795.59" r="14.93" style="fill: #e6e6e6"/>
          </g>
        </g>
        <g id="p374" class="plot" ng-click="$ctrl.selectPlot('374')">
          <circle cx="709.85" cy="735.89" r="14.93" style="fill: #e6e6e6"/>
          <circle cx="679.99" cy="735.89" r="14.93" style="fill: #e6e6e6"/>
          <g>
            <circle cx="709.85" cy="765.74" r="14.93" style="fill: #e6e6e6"/>
            <circle cx="679.99" cy="765.74" r="14.93" style="fill: #e6e6e6"/>
          </g>
          <g>
            <circle cx="709.85" cy="795.59" r="14.93" style="fill: #e6e6e6"/>
            <circle cx="679.99" cy="795.59" r="14.93" style="fill: #e6e6e6"/>
          </g>
        </g>
        <g id="p375" class="plot" ng-click="$ctrl.selectPlot('375')">
          <circle cx="799.55" cy="735.89" r="14.93" style="fill: #e6e6e6"/>
          <circle cx="769.7" cy="735.89" r="14.93" style="fill: #e6e6e6"/>
          <g>
            <circle cx="799.55" cy="765.74" r="14.93" style="fill: #e6e6e6"/>
            <circle cx="769.7" cy="765.74" r="14.93" style="fill: #e6e6e6"/>
          </g>
          <g>
            <circle cx="799.55" cy="795.59" r="14.93" style="fill: #e6e6e6"/>
            <circle cx="769.7" cy="795.59" r="14.93" style="fill: #e6e6e6"/>
          </g>
        </g>
        <g id="p376" class="plot" ng-click="$ctrl.selectPlot('376')">
          <circle cx="44.88" cy="925.77" r="14.93" style="fill: #e6e6e6"/>
          <circle cx="74.73" cy="925.77" r="14.93" style="fill: #e6e6e6"/>
          <g>
            <circle cx="44.88" cy="895.92" r="14.93" style="fill: #e6e6e6"/>
            <circle cx="74.73" cy="895.92" r="14.93" style="fill: #e6e6e6"/>
          </g>
          <g>
            <circle cx="44.88" cy="866.06" r="14.93" style="fill: #e6e6e6"/>
            <circle cx="74.73" cy="866.06" r="14.93" style="fill: #e6e6e6"/>
          </g>
        </g>
        <g id="p377" class="plot" ng-click="$ctrl.selectPlot('377')">
          <circle cx="914.24" cy="224.47" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="874.43" cy="224.47" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="834.63" cy="224.47" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="794.83" cy="224.47" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="914.24" cy="264.27" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="874.43" cy="264.27" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="834.63" cy="264.27" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="794.83" cy="264.27" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p378" class="plot" ng-click="$ctrl.selectPlot('378')">
          <circle cx="914.24" cy="327.01" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="874.43" cy="327.01" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="834.63" cy="327.01" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="794.83" cy="327.01" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="914.24" cy="366.81" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="874.43" cy="366.81" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="834.63" cy="366.81" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="794.83" cy="366.81" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p379" class="plot" ng-click="$ctrl.selectPlot('379')">
          <circle cx="914.24" cy="429.55" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="874.43" cy="429.55" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="834.63" cy="429.55" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="794.83" cy="429.55" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="914.24" cy="469.36" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="874.43" cy="469.36" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="834.63" cy="469.36" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="794.83" cy="469.36" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p380" class="plot" ng-click="$ctrl.selectPlot('380')">
          <circle cx="914.24" cy="532.1" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="874.43" cy="532.1" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="834.63" cy="532.1" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="794.83" cy="532.1" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="914.24" cy="571.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="874.43" cy="571.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="834.63" cy="571.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="794.83" cy="571.9" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p381" class="plot" ng-click="$ctrl.selectPlot('390')">
          <circle cx="914.24" cy="634.64" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="874.43" cy="634.64" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="834.63" cy="634.64" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="794.83" cy="634.64" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="914.24" cy="674.45" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="874.43" cy="674.45" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="834.63" cy="674.45" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="794.83" cy="674.45" r="19.9" style="fill: #e6e6e6"/>
        </g>
        <g id="p382" class="plot" ng-click="$ctrl.selectPlot('391')">
          <circle cx="515.11" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="19.9" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="59.7" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="99.51" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="515.11" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="475.31" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="435.51" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
          <circle cx="395.7" cy="139.31" r="19.9" style="fill: #e6e6e6"/>
        </g>
      </g>
    </g>
  </g>
</svg>
</div>
<div class="col-md-1"></div>
