<div class="content-buffer">
  <h2 class="color-green-dark">Living Harvest Garden In Boulder</h2>
  <h4 class="color-green-light">select a plot to view produce in the plot</h4>
</div>
<div ng-if="!$ctrl.plotData[0]" class="loader-parent">
  <div class="loader"></div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 723.33 408.06" ng-show="$ctrl.plotData[0]">
  <title>living_harvest_map</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="living_harvest" data-name="living harvest">
      <g id="Layer_11" data-name="Layer 11">
        <g id="p255" class="plot" ng-click="$ctrl.selectPlot('225')">
          <circle cx="90.06" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="90.06" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p256" class="plot" ng-click="$ctrl.selectPlot('256')">
          <circle cx="90.06" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="90.06" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p257" class="plot" ng-click="$ctrl.selectPlot('257')">
          <circle cx="90.06" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="90.06" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p258" class="plot" ng-click="$ctrl.selectPlot('258')">
          <circle cx="90.06" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="90.06" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p259" class="plot" ng-click="$ctrl.selectPlot('259')">
          <circle cx="90.06" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="90.06" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p260" class="plot" ng-click="$ctrl.selectPlot('260')">
          <circle cx="90.06" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="90.06" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="115.79" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="64.33" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="38.6" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="12.87" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p261" class="plot" ng-click="$ctrl.selectPlot('261')">
          <circle cx="238.73" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="238.73" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p262" class="plot" ng-click="$ctrl.selectPlot('262')">
          <circle cx="238.73" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="238.73" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p263" class="plot" ng-click="$ctrl.selectPlot('263')">
          <circle cx="238.73" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="238.73" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p264" class="plot" ng-click="$ctrl.selectPlot('264')">
          <circle cx="238.73" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="238.73" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p265" class="plot" ng-click="$ctrl.selectPlot('265')">
          <circle cx="238.73" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="238.73" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p266" class="plot" ng-click="$ctrl.selectPlot('266')">
          <circle cx="238.73" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="238.73" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="264.46" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="213" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="187.27" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="161.54" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p267" class="plot" ng-click="$ctrl.selectPlot('267')">
          <circle cx="387.4" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="387.4" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p268" class="plot" ng-click="$ctrl.selectPlot('268')">
          <circle cx="387.4" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="387.4" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p269" class="plot" ng-click="$ctrl.selectPlot('269')">
          <circle cx="387.4" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="387.4" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p270" class="plot" ng-click="$ctrl.selectPlot('270')">
          <circle cx="387.4" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="387.4" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p271" class="plot" ng-click="$ctrl.selectPlot('271')">
          <circle cx="387.4" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="387.4" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p272" class="plot" ng-click="$ctrl.selectPlot('272')">
          <circle cx="387.4" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="387.4" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="413.13" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="361.67" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="335.94" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="310.21" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p273" class="plot" ng-click="$ctrl.selectPlot('273')">
          <circle cx="536.07" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="536.07" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p274" class="plot" ng-click="$ctrl.selectPlot('274')">
          <circle cx="536.07" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="536.07" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p275" class="plot" ng-click="$ctrl.selectPlot('275')">
          <circle cx="536.07" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="536.07" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p276" class="plot" ng-click="$ctrl.selectPlot('276')">
          <circle cx="536.07" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="536.07" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p277" class="plot" ng-click="$ctrl.selectPlot('277')">
          <circle cx="536.07" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="536.07" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p278" class="plot" ng-click="$ctrl.selectPlot('278')">
          <circle cx="536.07" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="536.07" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="561.8" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="510.34" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="484.61" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="458.88" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p279" class="plot" ng-click="$ctrl.selectPlot('279')">
          <circle cx="684.73" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="684.73" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="38.6" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="12.87" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p280" class="plot" ng-click="$ctrl.selectPlot('280')">
          <circle cx="684.73" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="684.73" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="109.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="84.13" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p281" class="plot" ng-click="$ctrl.selectPlot('281')">
          <circle cx="684.73" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="684.73" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="181.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="155.47" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p282" class="plot" ng-click="$ctrl.selectPlot('282')">
          <circle cx="684.73" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="684.73" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="252.53" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="226.8" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p283" class="plot" ng-click="$ctrl.selectPlot('283')">
          <circle cx="684.73" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="684.73" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="323.87" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="298.13" r="12.87" style="fill: #e6e6e6"/>
        </g>
        <g id="p284" class="plot" ng-click="$ctrl.selectPlot('284')">
          <circle cx="684.73" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="684.73" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="710.46" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="659" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="633.27" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="395.2" r="12.87" style="fill: #e6e6e6"/>
          <circle cx="607.54" cy="369.47" r="12.87" style="fill: #e6e6e6"/>
        </g>
      </g>
    </g>
  </g>
</svg>
