<h1 class="text-center">FORUM</h1>

<!-- Begin Socket space: no code below this line, please -->

<div class="row">
  <div>
    <h3>Recent Activity Feed</h3>
    <div ng-repeat="message in $ctrl.displayedDigests">
      <!-- {these values} are placeholders until the routing is finished -->
      <p>{message.message}</p>
      <p>{message.first_name}</p>
    </div>
    <form action="" name="$ctrl.digestForm" ng-submit="$ctrl.submitDigest()">
      <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="8" cols="80" ng-model="$ctrl.newDigest.message" ng-maxlength="100"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Post your message.</button>
      </div>
    </form>
  </div>
</div>

<!-- End Socket space: no code above this line, please -->

<div class="button-header">
  <button type="button" class="btn filter-button" ng-click="$ctrl.changeCategory('all')" ng-class="{'filter-button-active': $ctrl.category === 'all'}"><h5>All</h5></button>
  <button type="button" class="btn filter-button" ng-click="$ctrl.changeCategory('help')" ng-class="{'filter-button-active': $ctrl.category === 'help'}"><h5>Help</h5></button>
  <button type="button" class="btn filter-button" ng-click="$ctrl.changeCategory('tools')" ng-class="{'filter-button-active': $ctrl.category === 'web'}"><h5>Tools</h5></button>
  <button type="button" class="btn filter-button" ng-click="$ctrl.changeCategory('seeds')" ng-class="{'filter-button-active': $ctrl.category === 'seeds'}"><h5>Seeds</h5></button>
  <button type="button" class="btn filter-button" ng-click="$ctrl.changeCategory('food')" ng-class="{'filter-button-active': $ctrl.category === 'food'}"><h5>Food</h5></button>
  <button type="button" class="btn filter-button" ng-click="$ctrl.changeCategory('miscellaneous')" ng-class="{'filter-button-active': $ctrl.category === 'miscellaneous'}"><h5>Miscellaneous</h5></button>
  <button type="button" class="btn filter-button" ng-click="$ctrl.createPost()"><h5>CREATE POST</h5></button>
</div>

<!-- ++++++++++++Displayed Posts++++++++++ -->

  <!-- ++++++++++++++HAVE COLUMN++++++++++++++ -->
  <div></div>
  <div class="col-md-6 text-center">
  <h2>Offerings</h2>
  <h6>from your fellow community gardeners</h6>
  <div ng-repeat="post in $ctrl.havePosts">
    <div class="card-group">
  <div class="card scroll-box">
    <div class="col-md-6">
    <img class="img-responsive" ng-src="{{post.posts_image_url || 'https://cdn4.iconfinder.com/data/icons/gardening-icons-2/100/3-512.png'}}"/>
    </div>
    <div class="col-md-6">
    <h4 class="card-title">Title:{{post.title}}</h4>
    <p class="text-center"><b>Description:</b></p>{{post.description}}
    <p><b>Contact:</b></p>{{post.contact}}
    <p><b>Posted:</b></p>
    <time am-time-ago="post.created_at">{{post.created_at}}</time>
    </div>
  </div>
    </div>
</div>
</div>
<!-- ++++++++++++++NEED COLUMN++++++++++++++ -->
<div></div>
<div class="col-md-6 text-center">
  <h2>Requests</h2>
  <h6>from your fellow community gardeners</h6>
  <div ng-repeat="post in $ctrl.needPosts">
    <div class="card-group">
  <div class="card scroll-box">
    <div class="col-md-6">
    <img class="img-responsive" ng-src="{{post.posts_image_url || 'https://cdn4.iconfinder.com/data/icons/gardening-icons-2/100/3-512.png'}}"/>
    </div>
    <div class="col-md-6">
    <h4 class="card-title">Title:{{post.title}}</h4>
    <p class="text-center"><b>Description:</b></p>{{post.description}}
    <p><b>Contact:</b></p>{{post.contact}}
    <p><b>Posted:</b></p>
    <time am-time-ago="post.created_at">{{post.created_at}}</time>
    </div>
  </div>
    </div>
</div>
</div>
