
<div>
<h1 class="text-center header-style color-green-dark">FORUM</h1>
<h5 class="text-center header-style color-green-dark">A place for the community to connect. </h5>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="button-header">
  <button type="button" class="btn filter-button button-fade" ng-click="$ctrl.changeCategory('all')" ng-class="{'filter-button-active': $ctrl.category === 'all'}"><h5 class="subtext-style">All</h5></button>

  <button type="button" class="btn filter-button button-fade" ng-click="$ctrl.changeCategory('help')" ng-class="{'filter-button-active': $ctrl.category === 'help'}"><h5 class="subtext-style">Help</h5></button>

  <button type="button" class="btn filter-button button-fade" ng-click="$ctrl.changeCategory('tools')" ng-class="{'filter-button-active': $ctrl.category === 'web'}"><h5 class="subtext-style">Tools</h5></button>

  <button type="button" class="btn filter-button button-fade" ng-click="$ctrl.changeCategory('seeds')" ng-class="{'filter-button-active': $ctrl.category === 'seeds'}"><h5 class="subtext-style">Seeds</h5></button>

  <button type="button" class="btn filter-button button-fade" ng-click="$ctrl.changeCategory('food')" ng-class="{'filter-button-active': $ctrl.category === 'food'}"><h5 class="subtext-style">Food</h5></button>

  <button type="button" class="btn filter-button button-fade" ng-click="$ctrl.changeCategory('miscellaneous')" ng-class="{'filter-button-active': $ctrl.category === 'miscellaneous'}"><h5 class="subtext-style">Misc</h5></button>
</div>

<div class="button-header">
      <button type="button" class="btn filter-button button-fade" ng-click="$ctrl.createPost()"><h5 class="subtext-style">CREATE POST</h5></button>
</div>

<!-- ++++++++++++Displayed Posts++++++++++ -->

  <!-- ++++++++++++++HAVE COLUMN++++++++++++++ -->
  <div></div>
  <div class="col-md-6 text-center">
  <h2 class="header-style color-green-dark">Offerings</h2>
  <h5 class="subtext-style color-green-dark">from your fellow community gardeners</h5>
  <div ng-repeat="post in $ctrl.havePosts | orderBy : post.created_at : true">
    <div class="card-group">
  <div class="card scroll-box">
    <div class="col-md-6 div-image">
    <img class="img-responsive ugc-image" ng-src="{{post.posts_image_url || 'https://cdn4.iconfinder.com/data/icons/gardening-icons-2/100/3-512.png'}}"/>
    </div>
    <div class="col-md-6 subtext-style forum-text-padding">
    <h5 class="text-left"><i>Name:</i></h5>
    <p class="text-left">{{post.posts_name}}</p>
    <h5 class="text-left"><i>Description:</i></h5>
    <p class="text-left">{{post.description}}</p>
    <h5 class="text-left"><i>Contact:</i></h5>
    <p class="text-left">{{post.contact}}</p>
    <h5 class="text-left"><i>Posted:</i></h5>
    <p class="text-left">
    <time am-time-ago="post.created_at">{{post.created_at}}</time>
    </p>
    </div>
  </div>
    </div>
</div>
</div>
<!-- ++++++++++++++NEED COLUMN++++++++++++++ -->
<div></div>
<div class="col-md-6 text-center">
  <h2 class="header-style color-green-dark">Requests</h2>
  <h5 class="subtext-style color-green-dark">from your fellow community gardeners</h5>
  <div ng-repeat="post in $ctrl.needPosts | orderBy : post.created_at : true">
    <div class="card-group">
  <div class="card scroll-box">
    <div class="col-md-6 div-image">
    <img class="img-responsive ugc-image" ng-src="{{post.posts_image_url || 'https://cdn4.iconfinder.com/data/icons/gardening-icons-2/100/3-512.png'}}"/>
    </div>
    <div class="col-md-6 subtext-style forum-text-padding">
    <h5 class="text-left"><i>Name:</i></h5>
    <p class="text-left">{{post.posts_name}}</p>
    <h5 class="text-left"><i>Description:</i></h5>
    <p class="text-left">{{post.description}}</p>
    <h5 class="text-left"><i>Contact:</i></h5>
    <p class="text-left">{{post.contact}}</p>
    <h5 class="text-left"><i>Posted:</i></h5>
    <p class="text-left">
    <time am-time-ago="post.created_at">{{post.created_at}}</time>
    </p>
    </div>
  </div>
    </div>
</div>
</div>
